<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WEGLogLevel</key>
	<string>VERBOSE</string>
	<key>WEGManualIntegration</key>
	<true/>
  <key>WEGLicenseCode</key>
	<string>~2024b387</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Pickyourtrail</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2.4</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>162</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>This will let you take photos using your camera and send it to Pickyourtrail.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Your current location is needed to find places around you</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Your current location is needed to find places around you</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This will let you record audio for your videos using your camera and send it to Pickyourtrail.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This will let you select photos from your library and send it to Pickyourtrail.</string>
	<key>UIAppFonts</key>
	<array>
		<string>hotel-amenities.ttf</string>
		<string>Sofia Pro.ttf</string>
		<string>Sofia Pro Light.ttf</string>
		<string>Sofia Pro Semi Bold.ttf</string>
		<string>voyager.ttf</string>
		<string>PT Sans Bold.ttf</string>
		<string>PT Sans Caption.ttf</string>
		<string>PT Sans.ttf</string>
		<string>SourceSansPro-Light.ttf</string>
		<string>SourceSansPro-Regular.ttf</string>
		<string>SourceSansPro-SemiBold.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
